purgatory/Automate AI Image Generation with n8n and ComfyUI.json
{"name":"Blog - ComfyUI automation","nodes":[{"parameters":{},"id":"71257342-02c7-4020-82f4-1678af9eb922","name":"1. Manual trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1020,560]},{"parameters":{"method":"POST","url":"http://COMFYUI_IP_ADDRESS:COMFYUI_PORT/prompt","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $('2. Set-up the ComfyUI workflow').item.json.prompt }}"}]},"options":{}},"id":"4bb394e9-faae-454a-9e3f-1654086b5857","name":"3. ComfyUI HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,560],"notesInFlow":true,"notes":"Add the image generation workflow to the queue"},{"parameters":{"jsCode":"// VARIABLE DEFINITION\n// 1. Positive prompt used for the image generation. If used you also need to manually edit the COMFYUI JSON workflow and insert the variable. \nconst positiveprompt = \"A tech-savvy engineer working on a computer with a holographic display, showing AI-generated images and some automation workflow nodes, capturing the essence of integration and automation in a high-tech setting. Accent color should be a warm yellow orange\";\n// 2. Random seed generation. If you want to randomize the image generation process otherwise you will get the same image for a prompt generation \nconst seednumber = Math.floor(Math.random() * 1000000000000000);\nconst prompt = \n\n//BEGINING - PASTE HERE THE COMFYUI JSON WORKFLOW (and insert the above variable call)\n{\n  \"3\": {\n    \"inputs\": {\n      \"seed\": seednumber,\n      \"steps\": 50,\n      \"cfg\": 8,\n      \"sampler_name\": \"euler\",\n      \"scheduler\": \"normal\",\n      \"denoise\": 1,\n      \"model\": [\n        \"4\",\n        0\n      ],\n      \"positive\": [\n        \"6\",\n        0\n      ],\n      \"negative\": [\n        \"7\",\n        0\n      ],\n      \"latent_image\": [\n        \"5\",\n        0\n      ]\n    },\n    \"class_type\": \"KSampler\",\n    \"_meta\": {\n      \"title\": \"KSampler\"\n    }\n  },\n  \"4\": {\n    \"inputs\": {\n      \"ckpt_name\": \"sd_xl_base_1.0.safetensors\"\n    },\n    \"class_type\": \"CheckpointLoaderSimple\",\n    \"_meta\": {\n      \"title\": \"Load Checkpoint\"\n    }\n  },\n  \"5\": {\n    \"inputs\": {\n      \"width\": 512,\n      \"height\": 512,\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptyLatentImage\",\n    \"_meta\": {\n      \"title\": \"Empty Latent Image\"\n    }\n  },\n  \"6\": {\n    \"inputs\": {\n      \"text\": positiveprompt,\n      \"clip\": [\n        \"4\",\n        1\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"CLIP Text Encode (Prompt)\"\n    }\n  },\n  \"7\": {\n    \"inputs\": {\n      \"text\": \"\",\n      \"clip\": [\n        \"4\",\n        1\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"CLIP Text Encode (Prompt)\"\n    }\n  },\n  \"8\": {\n    \"inputs\": {\n      \"samples\": [\n        \"3\",\n        0\n      ],\n      \"vae\": [\n        \"4\",\n        2\n      ]\n    },\n    \"class_type\": \"VAEDecode\",\n    \"_meta\": {\n      \"title\": \"VAE Decode\"\n    }\n  },\n  \"9\": {\n    \"inputs\": {\n      \"filename_prefix\": \"ComfyUI\",\n      \"images\": [\n        \"8\",\n        0\n      ]\n    },\n    \"class_type\": \"SaveImage\",\n    \"_meta\": {\n      \"title\": \"Save Image\"\n    }\n  }\n}\n//END - PASTE HERE THE COMFYUI JSON WORKFLOW \n;\n\nconst jsonData = {\"prompt\": prompt};\nreturn [{ json: jsonData }];"},"id":"9723eb30-28b1-4ab0-810e-e2e7f9ddaf53","name":"2. Set-up the ComfyUI workflow","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,560]},{"parameters":{"url":"=http://COMFYUI_IP_ADDRESS:COMFYUI_PORT/history/{{ $('3. ComfyUI HTTP Request').item.json.prompt_id }}","options":{}},"id":"0c43158c-1a38-4d2d-a79b-3c93be37c5d1","name":"4. ComfyUI HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,560],"notesInFlow":true,"notes":"Check the status of the image generation workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"7232dade-db0e-4b05-802d-6e193ce5136c","leftValue":"={{ $('4. ComfyUI HTTP Request').item.json[$('3. ComfyUI HTTP Request').item.json.prompt_id].status.status_str }}","rightValue":"success","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"027e6953-c6c0-4aa3-b34f-7dbe79034b20","name":"5. If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1780,560]},{"parameters":{"amount":10},"id":"e9e97028-f547-41c3-9b29-51b60c592826","name":"6. Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1940,760],"webhookId":"c3e88bd7-2d24-4911-82a9-25918e0a2f3f"},{"parameters":{"url":"http://COMFYUI_IP_ADDRESS:COMFYUI_PORT/view","sendQuery":true,"queryParameters":{"parameters":[{"name":"filename","value":"={{$json[$node[\"3. ComfyUI HTTP Request\"].json.prompt_id].outputs[Object.keys($json[$node[\"3. ComfyUI HTTP Request\"].json.prompt_id].outputs)[0]].images[0].filename}}"},{"name":"subfolder","value":"={{$json[$node[\"3. ComfyUI HTTP Request\"].json.prompt_id].outputs[Object.keys($json[$node[\"3. ComfyUI HTTP Request\"].json.prompt_id].outputs)[0]].images[0].subfolder}}"},{"name":"type","value":"={{$json[$node[\"3. ComfyUI HTTP Request\"].json.prompt_id].outputs[Object.keys($json[$node[\"3. ComfyUI HTTP Request\"].json.prompt_id].outputs)[0]].images[0].type}}"}]},"options":{}},"id":"8ca960bc-17ec-4e0c-a077-cb3554707d43","name":"7. ComfyUI HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2080,540],"notesInFlow":true,"notes":"Retrieve the generated image"}],"pinData":{},"connections":{"1. Manual trigger":{"main":[[{"node":"2. Set-up the ComfyUI workflow","type":"main","index":0}]]},"3. ComfyUI HTTP Request":{"main":[[{"node":"4. ComfyUI HTTP Request","type":"main","index":0}]]},"2. Set-up the ComfyUI workflow":{"main":[[{"node":"3. ComfyUI HTTP Request","type":"main","index":0}]]},"4. ComfyUI HTTP Request":{"main":[[{"node":"5. If","type":"main","index":0}]]},"5. If":{"main":[[{"node":"7. ComfyUI HTTP Request","type":"main","index":0}],[{"node":"6. Wait","type":"main","index":0}]]},"6. Wait":{"main":[[{"node":"4. ComfyUI HTTP Request","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"1a39f1b4-6a64-46a3-bd39-65fda09b733b","meta":{"templateCredsSetupCompleted":true,"instanceId":"14fd3d07f42a49329a68a73db19f2d028b94fb4d2c26ae22c5fef2ae46687889"},"id":"2fkhuQ5w1E8kCFJ7","tags":[]}