my/tradebots/cg_exchanges.json
{
  "name": "cg_exchanges",
  "nodes": [
    {
      "parameters": {},
      "id": "9bb8c155-baa4-494f-8ea6-b288963a2144",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/exchanges",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "x-cg-demo-api-key",
              "value": "CG-cUwG9J5mh99hZAd7VjNzREi4"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "page",
              "value": "={{ $json.page }}"
            }
          ]
        }
      },
      "name": "coingecko/exchanges",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        260,
        260
      ],
      "typeVersion": 1,
      "id": "4e5f7f13-e618-49d6-9501-24176a0714f7"
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.map(item => { \n  return {\n    json: item,\n  }\n})\n"
      },
      "id": "5ce9e1c7-49cd-4547-9a6a-fa614f48d807",
      "name": "Create JSON-items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        20
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "exchanges",
          "mode": "list",
          "cachedResultName": "exchanges"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "year_established": "={{ $json.year_established }}",
            "trust_score": "={{ $json.trust_score }}",
            "trust_score_rank": "={{ $json.trust_score_rank }}",
            "trade_volume_24h_btc": "={{ $json.trade_volume_24h_btc }}",
            "trade_volume_24h_btc_normalized": "={{ $json.trade_volume_24h_btc_normalized }}",
            "id": "={{ $json.id }}",
            "country": "={{ $json.country }}",
            "description": "={{ $json.description }}",
            "url": "={{ $json.url }}",
            "image": "={{ $json.image }}",
            "has_trading_incentive": "={{ $json.has_trading_incentive }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "year_established",
              "displayName": "year_established",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "has_trading_incentive",
              "displayName": "has_trading_incentive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "trust_score",
              "displayName": "trust_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "trust_score_rank",
              "displayName": "trust_score_rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "trade_volume_24h_btc",
              "displayName": "trade_volume_24h_btc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "trade_volume_24h_btc_normalized",
              "displayName": "trade_volume_24h_btc_normalized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "14fcc989-6f33-48f3-8948-b81f3fbe3458",
      "name": "Exchanges Upsert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        760,
        20
      ],
      "credentials": {
        "postgres": {
          "id": "pYoJaloY0AF84pHn",
          "name": "stribog_localhost"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aff5b247-3ab1-4f87-aa8d-b45a5002199f",
              "name": "page",
              "value": "={{ $runIndex+1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        260
      ],
      "id": "fa307e78-0daa-4222-935a-569b6b492945",
      "name": "Set page"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c69047c-f17d-4b46-b645-f70b629590af",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        260
      ],
      "id": "ed70e3ad-ae6d-4a1a-880f-6e92dc9f0b3d",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        120,
        480
      ],
      "id": "e01eadb6-0fbf-4123-9677-e125717ac41e",
      "name": "Wait",
      "webhookId": "1bde96b2-1826-416c-ad09-e1180b4df5e9"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coingecko/exchanges": {
      "main": [
        [
          {
            "node": "Create JSON-items",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create JSON-items": {
      "main": [
        [
          {
            "node": "Exchanges Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set page": {
      "main": [
        [
          {
            "node": "coingecko/exchanges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Set page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3fb9a548-8d11-47ed-8e4a-a80adfa98abb",
  "meta": {
    "instanceId": "8356fa659808c23f4e75b06da8577f2a44876741dbd41bb19d8e4018cbb11761"
  },
  "id": "flCPUPZJgIVjATOT",
  "tags": [
    {
      "createdAt": "2025-01-01T07:27:59.251Z",
      "updatedAt": "2025-01-01T07:27:59.251Z",
      "id": "WlPvxnEEROnUtUhy",
      "name": "tradebots"
    }
  ]
}